# Entorno virtual
.venv/
__pycache__/
*.pyc

# Bases de datos locales (Evita sobreescribir datos del negocio)
*.db
*.db-wal
*.db-shm

# Certificados de seguridad (NUNCA subir la llave privada .key o .pem a GitHub)
certificados/
*.pem
*.key

# Configuraciones de editores
.vscode/
.idea/
